{% extends 'ajaxmethods/ajax.html' %}

{% block content %}

    <h1>Htmx</h1>
    <div class="carda">
        <h2 class="mb-4">Likes: <span id="likes">0</span></h2>
        <button hx-get="{% url 'html-data' %}" 
                hx-target="#likes" 
                hx-swap="innerHTML">
                Click Me
        </button>
    </div>
    
    <div class="carda">
        <div class="mb-4">
            <h2 class="mb-4">Input a city:</h2>
            <form class="flex gap-4" 
                hx-post="{% url 'html-data' %}" 
                hx-target="#cities_list" 
                hx-swap="beforeend" 
                _="on htmx:afterRequest reset() me">
                {% csrf_token %}
                <input type="text" name="city" autocomplete="off">
                <button type="submit">Submit</button>
            </form>
        </div>
        <div id="cities_list"></div>
    </div>

{% endblock %}


{% block library %}
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.13"></script>
{% endblock %}